<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=\, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Welocome to <%= user.name %></h1>
		<h3>Welocome to <%= user.email %></h3>
		<h6>Welocome to <%= user.status %></h6>
	</body>
</html>
